<html>
    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
    src="https://www.google.com/maps/embed/v1/directions?origin=Tunis &destination=Sfax &key=AIzaSyD4-1sq8nk_OIEnySI0HxieAnRoyl4vPh8"></iframe>


    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
src="https://www.google.com/maps/embed/v1/search?q=...&key=AIzaSyD4-1sq8nk_OIEnySI0HxieAnRoyl4vPh8"></iframe>



<iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
src="https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=AIzaSyD4-1sq8nk_OIEnySI0HxieAnRoyl4vPh8"></iframe>
</html>

<iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
src="https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=AIzaSyD4-1sq8nk_OIEnySI0HxieAnRoyl4vPh8"></iframe>



<iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
src="https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=AIzaSyD4-1sq8nk_OIEnySI0HxieAnRoyl4vPh8"></iframe>
